@media all and (min-width: 480px) {
  .main-title div {
    font-size: 62px !important; }
  .logo img {
    width: 122px !important; }
  .phone {
    font-size: 16px !important; }
  .section-image > td {
    padding-top: 15px !important;
    padding-right: 67px !important; } }
