@media all and (min-width: 480px) {
  .main-title div {
    font-size: 62px !important; }
  .logo img {
    width: 122px !important; }
  .phone {
    font-size: 16px !important; }
  .section-image > td {
    padding-top: 15px !important;
    padding-right: 67px !important; }
  .client--border-right > table,
  .client--border-bottom > table {
    border: none !important; }
  .client--border-right-XL > table {
    border-right: 1px solid #a5a5a5 !important; }
  .client--border-bottom-XL > table {
    border-bottom: 1px solid #a5a5a5 !important; }
  .section-price > table > tbody > tr > td {
    padding-left: 60px !important;
    padding-right: 60px !important; } }
