mj-head
  mj-title Bluebees
  mj-font(
    name='Open Sans'
    href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800')/
  mj-attributes
    mj-all(font-family='Open Sans, sans-serif')/
    mj-section(padding='0')/
    mj-image(padding='0')/
    mj-text(padding='0', line-height='1.3')/
    include mj-class.pug

  mj-style(inline='inline')
    include ../css/main-inline.css
  mj-style
    include ../css/media.css
