mj-head
  mj-title careex
  mj-font(
    name='Roboto'
    href='https://fonts.googleapis.com/css?family=Roboto:400,500')/
  mj-style(inline='inline') 
    | a { text-decoration: none; color: inherit; }
