mj-head
  mj-title Bluebees
  mj-font(
    name='Open Sans'
    href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800')/
  mj-attributes
    mj-all(font-family='Open Sans, sans-serif')/
    mj-section(padding='0')/
    mj-text(padding='0')/
    mj-class(name='inner-padding', padding-left='44px', padding-right='44px')/
  mj-style(inline='inline') 
    | a { text-decoration: none; color: inherit; }
