- const blackColor = '#000'
- const bodyBg = '#f5f5f5'
- const darkBg = '#282828'
- const darkText = '#303030'
- const mainColor = '#0069e3'
//- - const pathToImage = 'assets/images/'
- const pathToImage = 'https://cdn.rawgit.com/in-in/bluebees/f5b8ca44/src/assets/images/'
- const pathToIconSocial = pathToImage + 'social/'
- const whiteColor = '#fff'
- const transparentColor = 'rgba(255, 255, 255, 0)'
