include blocks/variables.pug
include blocks/hero.pug
include blocks/social.pug

mjml
  include blocks/head.pug
  mj-body
    mj-container(width='800px', background-color=bodyBg)
      +hero()
      mj-section(background-color='gold', mj-class='inner-padding')
        mj-column
          mj-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad placeat, voluptatem assumenda id minima quos fugiat repellat soluta itaque? Maxime sapiente neque animi enim aliquam assumenda officia aut. Iure, error!
      mj-section
        mj-column
          +social()
